<div class="{{ if .Err_Auth }}error{{ end }} form-control w-full">
  <label class="label"><span class="label-text font-bold">{{ .i18n.Tr "username" }}</span></label>
  <input class="input-bordered input" id="auth_username" name="auth_username" value="{{ .auth_username }}" {{ if not .auth_username }}data-need-clear="true"{{ end }} />
</div>
<div class="{{ if .Err_Auth }}error{{ end }} form-control w-full">
  <label class="label"><span class="label-text font-bold">{{ .i18n.Tr "password" }}</span></label>
  <input class="input-bordered input" id="auth_password" name="auth_password" type="password" value="{{ .auth_password }}" />
</div>
