{{ template "admin/base/header" . }}
<div class="mx-auto my-4 w-full max-w-[1280px] flex-1 space-y-4 px-4">
  {{ template "base/alert" . }}
  <div class="rounded-lg border">
    <h4 class="flex items-center justify-between rounded-t-lg border-b bg-base-200 px-4 py-2">
      {{ .i18n.Tr "admin.repos.repo_manage_panel" }} ({{ .i18n.Tr "admin.total" .Total }})
      <a class="btn-primary btn-sm btn" href="{{ AppSubUrl }}/admin/repos/unadopted">{{ .i18n.Tr "admin.repos.unadopted" }}</a>
    </h4>
    {{ template "admin/repo/search" . }}
    <table class="table-zebra table w-full">
      <thead>
        <tr>
          <th data-sortt-asc="oldest" data-sortt-desc="newest">
            <div class="flex items-center gap-1">
              ID{{ SortArrow "oldest" "newest" $.SortType false }}
            </div>
          </th>
          <th>{{ .i18n.Tr "admin.repos.owner" }}</th>
          <th data-sortt-asc="alphabetically" data-sortt-desc="reversealphabetically">
            <div class="flex items-center gap-1">
              {{ .i18n.Tr "admin.repos.name" }}
              {{ SortArrow "alphabetically" "reversealphabetically" $.SortType false }}
            </div>
          </th>
          <th>{{ .i18n.Tr "admin.repos.watches" }}</th>
          <th data-sortt-asc="moststars" data-sortt-desc="feweststars">
            <div class="flex items-center gap-1">
              {{ .i18n.Tr "admin.repos.stars" }}
              {{ SortArrow "moststars" "feweststars" $.SortType false }}
            </div>
          </th>
          <th data-sortt-asc="mostforks" data-sortt-desc="fewestforks">
            <div class="flex items-center gap-1">
              {{ .i18n.Tr "admin.repos.forks" }}
              {{ SortArrow "mostforks" "fewestforks" $.SortType false }}
            </div>
          </th>
          <th>{{ .i18n.Tr "admin.repos.issues" }}</th>
          <th data-sortt-asc="size" data-sortt-desc="reversesize">
            <div class="flex items-center gap-1">
              {{ .i18n.Tr "admin.repos.size" }}
              {{ SortArrow "size" "reversesize" $.SortType false }}
            </div>
          </th>
          <th>{{ .i18n.Tr "admin.users.created" }}</th>
          <th>{{ .i18n.Tr "admin.notices.op" }}</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Repos }}
          <tr>
            <td>{{ .ID }}</td>
            <td>
              <div class="flex items-center gap-1">
                <a class="link-hover link-primary link" href="{{ .Owner.HomeLink }}">{{ .Owner.Name }}</a>
                {{ if .Owner.Visibility.IsPrivate }}
                  <span class="text-gold-500">{{ svg "octicon-lock" }}</span>
                {{ end }}
              </div>
            </td>
            <td>
              <div class="flex items-center gap-1">
                <a class="link-hover link-primary link" href="{{ .Link }}">{{ .Name }}</a>
                {{ if .IsArchived }}
                  <span class="badge badge-sm">{{ $.i18n.Tr "repo.desc.archived" }}</span>
                {{ end }}
                {{ if .IsTemplate }}
                  {{ if .IsPrivate }}
                    <span class="badge badge-sm">{{ $.i18n.Tr "repo.desc.private_template" }}</span>
                  {{ else }}
                    {{ if .Owner.Visibility.IsPrivate }}
                      <span class="badge badge-sm">{{ $.i18n.Tr "repo.desc.internal_template" }}</span>
                    {{ end }}
                  {{ end }}
                {{ else }}
                  {{ if .IsPrivate }}
                    <span class="badge badge-sm">{{ $.i18n.Tr "repo.desc.private" }}</span>
                  {{ else }}
                    {{ if .Owner.Visibility.IsPrivate }}
                      <span class="badge badge-sm">{{ $.i18n.Tr "repo.desc.internal" }}</span>
                    {{ end }}
                  {{ end }}
                {{ end }}
                {{ if .IsFork }}
                  {{ svg "octicon-repo-forked" }}
                {{ else if .IsMirror }}
                  {{ svg "octicon-mirror" }}
                {{ end }}
              </div>
            </td>
            <td>{{ .NumWatches }}</td>
            <td>{{ .NumStars }}</td>
            <td>{{ .NumForks }}</td>
            <td>{{ .NumIssues }}</td>
            <td>{{ FileSize .Size }}</td>
            <td><span title="{{ .CreatedUnix.FormatLong }}">{{ .CreatedUnix.FormatShort }}</span></td>
            <td>
              <a svelte-simple-modal class="link-hover link text-red-600" href="#" data-href="{{ $.Link }}/delete?page={{ $.Page.Paginater.Current }}&sort={{ $.SortType }}" data-form-key[0]="id" data-form-val[0]="{{ .ID }}" data-name="{{ .Name }}" data-title="{{ $.i18n.Tr "repo.settings.delete" }}" data-desc="{{ $.i18n.Tr "repo.settings.delete_desc" }}</br>{{ $.i18n.Tr "repo.settings.delete_notices_2" .Name }}</br>{{ $.i18n.Tr "repo.settings.delete_notices_fork_1" }}" data-action-approve-color="red" data-desc-class="rounded-lg border !border-yellow-500 bg-yellow-500/10 text-yellow-500 my-4 p-4">{{ svg "octicon-trash" }}</a>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
  {{ template "base/paginate" . }}
</div>
{{ template "admin/base/footer" . }}
