{{ template "base/head" . }}
{{ template "repo/header" . }}
<!-- repository file list -->
<div class="main-container">
  <div class="mx-auto w-full max-w-[1280px] space-y-4">
    <form class="ignore-dirty" method="get">
      <div class="input-group">
        <input class="input-bordered input input-sm w-full" name="q" value="{{ .Keyword }}" {{ if .CodeIndexerUnavailable }}disabled{{ end }} placeholder="{{ .i18n.Tr "repo.search.search_repo" }}" />
        <select class="select-bordered select select-sm" name="t" {{ if .CodeIndexerUnavailable }}disabled{{ end }}>
          <option value="">{{ .i18n.Tr "repo.search.fuzzy" }}</option>
          <option value="match">{{ .i18n.Tr "repo.search.match" }}</option>
        </select>
        <button class="btn-primary btn-sm btn" {{ if .CodeIndexerUnavailable }}disabled{{ end }} type="submit">{{ svg "octicon-search" 16 }}</button>
      </div>
    </form>
    {{ if .CodeIndexerUnavailable }}
      <div svelte-simple-alert data-desc="{{ $.i18n.Tr "repo.search.code_search_unavailable" }}" data-type="error" data-icon="true"></div>
    {{ else if .Keyword }}
      <h3 class="cu-links-primary">
        {{ .i18n.Tr "repo.search.results" (.Keyword|Escape) (.RepoLink|Escape) (.RepoName|Escape) | Str2html }}
      </h3>
      {{ if .SearchResults }}
        <div class="flex items-center gap-1">
          {{ range $term := .SearchResultLanguages }}
            <a class="{{ if eq $.Language $term.Language }}btn-outline-primary{{ end }} btn-outline btn-sm btn gap-1" href="{{ $.SourcePath }}/search?q={{ $.Keyword }}{{ if ne $.Language $term.Language }}&l={{ $term.Language }}{{ end }}{{ if ne $.queryType "" }}&t={{ $.queryType }}{{ end }}">
              <span class="badge badge-sm" style="background-color: {{ $term.Color }}"></span>
              {{ $term.Language }}
              <div class="ml-2">{{ $term.Count }}</div>
            </a>
          {{ end }}
        </div>
        {{ range $result := .SearchResults }}
          <div class="diff-file-box diff-box file-content non-diff-file-content repo-search-result divide-y rounded-lg border">
            <h4 class="rounded-t-lg bg-base-200 px-4 py-2">
              <span>{{ .Filename }}</span>
              <a class="btn-xs btn" rel="nofollow" href="{{ $.SourcePath }}/src/commit/{{ PathEscape $result.CommitID }}/{{ PathEscapeSegments .Filename }}">{{ $.i18n.Tr "repo.diff.view_file" }}</a>
            </h4>
            <div class="flex w-full">
              <div class="file-body file-code code-view table w-full">
                <table>
                  <tbody>
                    <tr>
                      <td class="lines-num">
                        <div class="flex flex-col">
                          {{ range .LineNumbers }}
                            <a class="link-hover link hover:text-primary-content" href="{{ $.SourcePath }}/src/commit/{{ PathEscape $result.CommitID }}/{{ PathEscapeSegments $result.Filename }}#L{{ . }}"><span>{{ . }}</span></a>
                          {{ end }}
                        </div>
                      </td>
                      <td class="lines-code chroma rounded-none"><code class="code-inner">{{ .FormattedLines | Safe }}</code></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            {{ template "shared/searchbottom" dict "root" $ "result" . }}
          </div>
        {{ end }}
        {{ template "base/paginate" . }}
      {{ else }}
        <p>{{ $.i18n.Tr "repo.search.code_no_results" }}</p>
      {{ end }}
    {{ end }}
  </div>
</div>
{{ template "base/footer" . }}
