{{ if eq .HookType "dingtalk" }}
  <p class="cu-links-primary">{{ .i18n.Tr "repo.settings.add_web_hook_desc" "https://dingtalk.com" (.i18n.Tr "repo.settings.web_hook_name_dingtalk") | Str2html }}</p>
  <form action="{{ .BaseLink }}/dingtalk/{{ or .Webhook.ID "new" }}" method="post">
    {{ .CsrfTokenHtml }}
    <div class="{{ if .Err_PayloadURL }}error{{ end }} form-control required">
      <label class="label"><span class="label-text">{{ .i18n.Tr "repo.settings.payload_url" }}</span></label>
      <input class="input-bordered input" id="payload_url" name="payload_url" type="url" value="{{ .Webhook.URL }}" autofocus required />
    </div>
    {{ template "repo/settings/webhook/settings" . }}
  </form>
{{ end }}
