{{if false}}
{{/* to make html structure "likely" complete to prevent IDE warnings */}}
<html>
  <body>
    <div>
{{end}}
      {{ template "custom/body_inner_post" . }}
      <div class="w-full px-4" id="global-footer">
        <!-- <div class="mx-auto max-w-[1280px]"> -->
          {{ template "base/footer_content" . }}
          {{ template "custom/footer" . }}
        <!-- </div> -->
      </div>
    </div>
    {{ template "custom/body_outer_post" . }}


    <!-- Third-party libraries -->
    {{ if .EnableCaptcha }}
      {{ if eq .CaptchaType "recaptcha" }}
        <script src="{{ URLJoin .RecaptchaURL "api.js" }}" async></script>
      {{ end }}
      {{ if eq .CaptchaType "hcaptcha" }}
        <script src="https://hcaptcha.com/1/api.js" async></script>
      {{ end }}
    {{ end }}
    {{ template "base/delete_modal_actions" . }}
    {{ LiveReload }}
    {{ IndexJs }}
  </body>
</html>
