{{if false}}
{{/* to make html structure "likely" complete to prevent IDE warnings */}}
<html>
  <body>
    <div>
  {{end}}
    </div>

    <!-- Third-party libraries -->
    {{ if .EnableCaptcha }}
      {{ if eq .CaptchaType "recaptcha" }}
        <script src="{{ URLJoin .RecaptchaURL "api.js" }}" async></script>
      {{ end }}
      {{ if eq .CaptchaType "hcaptcha" }}
        <script src="https://hcaptcha.com/1/api.js" async></script>
      {{ end }}
    {{ end }}
    {{ template "base/delete_modal_actions" . }}
    {{ LiveReload }}
    {{ IndexJs }}
  </body>
</html>
