{{ template "base/head" . }}
{{ template "repo/header" . }}
<div class="main-container">
  <div class="mx-auto w-full max-w-7xl space-y-4">
    {{ template "base/alert" . }}
    <div class="flex items-center justify-between">
      <ul class="menu rounded-box menu-horizontal bg-base-200">
        {{ if .Permission.CanRead $.UnitTypeReleases }}
          <li>
            <a class="{{ if (not .PageIsTagList) }}active{{ end }}" href="{{ .RepoLink }}/releases">{{ .i18n.Tr "repo.release.releases" }}</a>
          </li>
        {{ end }}
        {{ if .Permission.CanRead $.UnitTypeCode }}
          <li>
            <a class="{{ if .PageIsTagList }}active{{ end }}" href="{{ .RepoLink }}/tags">{{ .i18n.Tr "repo.release.tags" }}</a>
          </li>
        {{ end }}
      </ul>

      {{ if (and .CanCreateRelease (not .PageIsTagList)) }}
        <a class="btn-primary btn" href="{{ $.RepoLink }}/releases/new">
          {{ .i18n.Tr "repo.release.new_release" }}
        </a>
      {{ end }}
    </div>

    <div>
      {{ if .PageIsTagList }}
        {{ if gt .ReleasesNum 0 }}
          <h4 class="rounded-t-lg border border-b-0 bg-base-200 px-4 py-2 font-bold leading-8"><span class="flex items-center">{{ svg "octicon-tag" 16 "mr-2" }}{{ .i18n.Tr "repo.release.tags" }}</span></h4>
          <div class="cu-links-primary-hover flex flex-col divide-y rounded-b-lg border">
            {{ range $idx, $release := .Releases }}
              <div class="space-y-2 px-4 py-2 hover:bg-base-content/10 hover:last:rounded-b-lg">
                <a class="flex w-fit text-xl font-bold" href="{{ $.RepoLink }}/src/tag/{{ .TagName | PathEscapeSegments }}" rel="nofollow">{{ .TagName }}</a>
                <div class="flex gap-x-2 text-xs">
                  {{ if $.Permission.CanRead $.UnitTypeCode }}
                    <a class="flex items-center" href="{{ $.RepoLink }}/src/commit/{{ .Sha1 }}" rel="nofollow">{{ svg "octicon-git-commit" 16 }}{{ ShortSha .Sha1 }}</a>
                    {{ if not $.DisableDownloadSourceArchives }}
                      <a class="flex items-center" href="{{ $.RepoLink }}/archive/{{ .TagName | PathEscapeSegments }}.zip" rel="nofollow">{{ svg "octicon-file-zip" 16 }}ZIP</a>
                      <a class="flex items-center" href="{{ $.RepoLink }}/archive/{{ .TagName | PathEscapeSegments }}.tar.gz" rel="nofollow">{{ svg "octicon-file-zip" 16 }}TAR.GZ</a>
                    {{ end }}
                    {{ if (and $.CanCreateRelease $release.IsTag) }}
                      <a class="flex items-center" href="{{ $.RepoLink }}/releases/new?tag={{ .TagName }}">{{ svg "octicon-tag" 16 }}{{ $.i18n.Tr "repo.release.new_release" }}</a>
                    {{ end }}
                    {{ if (and ($.Permission.CanWrite $.UnitTypeCode) $release.IsTag) }}
                      <span svelte-simple-modal class="link-hover link flex cursor-pointer items-center hover:text-primary" data-href="{{ $.RepoLink }}/tags/delete" data-form-key[0]="id" data-form-val[0]="{{ .ID }}" data-title="{{ $.i18n.Tr "repo.release.delete_tag" }}" data-name="{{ .TagName }}" data-desc="{{ $.i18n.Tr "repo.release.deletion_tag_desc" }}">{{ svg "octicon-trash" 16 }}{{ $.i18n.Tr "repo.release.delete_tag" }}</span>
                    {{ end }}
                    {{ if (not $release.IsTag) }}
                      <a class="flex items-center" href="{{ $.RepoLink }}/releases/tag/{{ .TagName | PathEscapeSegments }}">{{ svg "octicon-tag" 16 }}{{ $.i18n.Tr "repo.release.detail" }}</a>
                    {{ end }}
                  {{ end }}
                </div>
              </div>
            {{ end }}
          </div>
        {{ end }}
      {{ else }}
        {{ range $idx, $release := .Releases }}
          <div class="mb-6 grid grid-cols-16 gap-6">
            <div class="col-span-3 grid justify-items-end">
              <div class="cu-links-primary mr-2 mt-3 flex flex-col items-end gap-2 pt-4">
                {{ if .IsTag }}
                  {{ if .CreatedUnix }}
                    <span class="time">{{ TimeSinceUnix .CreatedUnix $.i18n.Lang }}</span>
                  {{ end }}
                {{ else }}
                  {{ if .IsDraft }}
                    <span class="badge border-none bg-yellow-800 hover:bg-yellow-900">{{ $.i18n.Tr "repo.release.draft" }}</span>
                  {{ else if .IsPrerelease }}
                    <span class="badge border-none bg-orange-800 hover:bg-orange-900">{{ $.i18n.Tr "repo.release.prerelease" }}</span>
                  {{ else }}
                    <span class="badge border-none bg-green-800 hover:bg-green-900">{{ $.i18n.Tr "repo.release.stable" }}</span>
                  {{ end }}
                  <a class="flex items-center gap-x-1 text-info" href="{{ if .IsDraft }}#{{ else }}{{ $.RepoLink }}/src/tag/{{ .TagName | PathEscapeSegments }}{{ end }}" rel="nofollow">{{ svg "octicon-tag" 16 }}{{ .TagName }}</a>
                  {{ if not .IsDraft }}
                    <a class="flex items-center gap-x-1" href="{{ $.RepoLink }}/src/commit/{{ .Sha1 }}" rel="nofollow">{{ svg "octicon-git-commit" 16 }}{{ ShortSha .Sha1 }}</a>
                  {{ end }}
                  {{ if .Sha1 }}
                    {{ template "repo/branch_dropdown" dict "root" $ "release" . }}
                  {{ end }}
                {{ end }}
              </div>
            </div>
            <div class="col-span-13">
              <div class="rounded-lg border py-4">
                {{ if .IsTag }}
                  <div class="px-4">
                    <h4 class="cu-links-primary-content text-3xl">
                      <a href="{{ $.RepoLink }}/src/tag/{{ .TagName | PathEscapeSegments }}" rel="nofollow"><span class="flex items-center gap-x-1">{{ svg "octicon-tag" 16 }}{{ .TagName }}</span></a>
                    </h4>
                    <div class="my-4 flex items-center gap-1">
                      {{ if gt .Publisher.ID 0 }}
                        <div class="avatar gap-1">
                          <div class="w-5 rounded-full">
                            {{ avatar .Publisher 20 }}
                          </div>
                          <a class="link-hover text-primary-content hover:text-primary" href="{{ .Publisher.HomeLink }}">{{ .Publisher.Name }}</a>
                        </div>
                      {{ end }}
                      <a
                        class="link-hover text-primary-content hover:text-primary"
                        href="{{- $.RepoLink -}}/compare/{{- .TagName | PathEscapeSegments -}}{{- if .Target -}}
                          ...{{- .Target | PathEscapeSegments -}}
                        {{- end -}}"
                        >{{ $.i18n.Tr "repo.release.ahead.commits" .NumCommitsBehind | Str2html }}</a
                      >
                      {{ $.i18n.Tr "repo.release.ahead.target" $.DefaultBranch }}
                    </div>
                  </div>
                  <div class="border-t px-4 pt-4">
                    <div class="cu-links-primary divide-y rounded-lg border">
                      {{ if $.Permission.CanRead $.UnitTypeCode }}
                        <a class="flex items-center p-2" href="{{ $.RepoLink }}/src/commit/{{ .Sha1 }}" rel="nofollow">{{ svg "octicon-git-commit" 16 "mr-2" }}{{ ShortSha .Sha1 }}</a>
                        {{ if not $.DisableDownloadSourceArchives }}
                          <a class="flex items-center p-2" href="{{ $.RepoLink }}/archive/{{ .TagName | PathEscapeSegments }}.zip" rel="nofollow">{{ svg "octicon-file-zip" }}&nbsp;ZIP</a>
                          <a class="flex items-center p-2" href="{{ $.RepoLink }}/archive/{{ .TagName | PathEscapeSegments }}.tar.gz" rel="nofollow">{{ svg "octicon-file-zip" }}&nbsp;TAR.GZ</a>
                        {{ end }}
                      {{ end }}
                    </div>
                  </div>
                {{ else }}
                  <div class="px-4">
                    <h4 class="cu-links-primary-content flex justify-between text-3xl font-bold text-primary">
                      <a href="{{ $.RepoLink }}/releases/tag/{{ .TagName | PathEscapeSegments }}">{{ .Title }}</a>
                      {{ if $.CanCreateRelease }}
                        <a href="{{ $.RepoLink }}/releases/edit/{{ .TagName | PathEscapeSegments }}" rel="nofollow" class="tooltip" data-tip="{{ $.i18n.Tr "repo.release.edit" }}">{{ svg "octicon-pencil" }}</a>
                      {{ end }}
                    </h4>
                    <div class="my-4 flex items-center gap-1">
                      <div class="avatar gap-1">
                        {{ if .OriginalAuthor }}
                          {{ svg "octicon-mark-github" 16 }}{{ .OriginalAuthor }}
                        {{ else if .Publisher }}
                          <div class="w-5 rounded-full">
                            {{ avatar .Publisher 20 }}
                          </div>
                          <a class="link-hover text-primary-content hover:text-primary" href="{{ .Publisher.HomeLink }}">{{ .Publisher.GetDisplayName }}</a>
                        {{ else }}
                          Ghost
                        {{ end }}
                      </div>
                      <span class="released">
                        {{ $.i18n.Tr "repo.released_this" }}
                      </span>
                      {{ if .CreatedUnix }}
                        <span>{{ TimeSinceUnix .CreatedUnix $.i18n.Lang }}</span>
                      {{ end }}
                      {{ if not .IsDraft }}
                        |
                        <a class="link-hover text-primary-content hover:text-primary" href="{{ $.RepoLink }}/compare/{{ .TagName | PathEscapeSegments }}...{{ .Target | PathEscapeSegments }}">{{ $.i18n.Tr "repo.release.ahead.commits" .NumCommitsBehind | Str2html }}</a>
                        {{ $.i18n.Tr "repo.release.ahead.target" .Target }}
                      {{ end }}
                    </div>
                    <div class="markup pb-4">{{ Str2html .Note }}</div>
                  </div>
                  <details class="download border-t px-4 pt-4" {{ if eq $idx 0 }}open{{ end }}>
                    <summary class="mb-4 cursor-pointer">
                      {{ $.i18n.Tr "repo.release.downloads" }}
                    </summary>
                    <ul class="cu-links-primary divide-y rounded-lg border">
                      {{ if .Attachments }}
                        {{ range .Attachments }}
                          <li class="flex items-center p-2">
                            <a target="_blank" class="flex flex-1 items-center gap-x-1 font-bold" href="{{ .DownloadURL }}" title="{{ .Name }}">
                              {{ svg "octicon-package" 16 }}{{ .Name }}
                            </a>
                            <span class="flex items-center gap-x-1">
                              <span class="">{{ .Size | FileSize }}</span>
                              <span class="tooltip" data-tip="{{ $.i18n.Tr "repo.release.download_count" (.DownloadCount | PrettyNumber) }}">
                                {{ svg "octicon-info" }}
                              </span>
                            </span>
                          </li>
                        {{ end }}
                      {{ end }}
                      {{ if and (not $.DisableDownloadSourceArchives) (not .IsDraft) ($.Permission.CanRead $.UnitTypeCode) }}
                        <li class="p-2">
                          <a class="flex items-center gap-x-1" href="{{ $.RepoLink }}/archive/{{ .TagName | PathEscapeSegments }}.zip" rel="nofollow"> {{ svg "octicon-file-zip" 16 }}{{ $.i18n.Tr "repo.release.source_code" }}(ZIP) </a>
                        </li>
                        <li class="p-2">
                          <a class="flex items-center gap-x-1" href="{{ $.RepoLink }}/archive/{{ .TagName | PathEscapeSegments }}.tar.gz" rel="nofollow"> {{ svg "octicon-file-zip" 16 }}{{ $.i18n.Tr "repo.release.source_code" }}(TAR.GZ) </a>
                        </li>
                      {{ end }}
                    </ul>
                  </details>
                {{ end }}
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
    {{ template "base/paginate" . }}
  </div>
</div>
{{ template "base/footer" . }}
