{{ if .ctx.IsSigned }}
  <div jq-dropdown-context-menu class="dropdown dropdown-end">
    <label tabindex="0" class="cursor-pointer">
      {{ svg "octicon-kebab-horizontal" }}
    </label>
    <ul class="cu-menu dropdown-content p-2">
      {{ $referenceUrl := "" }}
      {{ if .issue }}
        {{ $referenceUrl = Printf "%s#%s" .ctx.Issue.HTMLURL .item.HashTag }}
      {{ else }}
        {{ $referenceUrl = Printf "%s/files#%s" .ctx.Issue.HTMLURL .item.HashTag }}
      {{ end }}
      <li>
        <div data-clipboard-text="{{ $referenceUrl }}">{{ .ctx.i18n.Tr "repo.issues.context.copy_link" }}</div>
      </li>
      <li>
        <div jq-quote-reply {{ if .diff }}jq-quote-reply-diff{{ end }} data-target="{{ .item.ID }}">{{ .ctx.i18n.Tr "repo.issues.context.quote_reply" }}</div>
      </li>
      {{ if not .ctx.UnitIssuesGlobalDisabled }}
        <li>
          <div jq-reference-issue data-target="{{ .item.ID }}" data-modal="#reference-issue-modal" data-poster="{{ .item.Poster.GetDisplayName }}" data-poster-username="{{ .item.Poster.Name }}" data-reference="{{ $referenceUrl }}">{{ .ctx.i18n.Tr "repo.issues.context.reference_issue" }}</div>
        </li>
      {{ end }}
      {{ if or .ctx.Permission.IsAdmin .IsCommentPoster .ctx.HasIssuesOrPullsWritePermission }}
        <div class="divider my-1"></div>
        <li>
          <div jq-edit-content>{{ .ctx.i18n.Tr "repo.issues.context.edit" }}</div>
        </li>
        {{ if .delete }}
          <li>
            <div jq-delete-comment data-comment-id="{{ .item.HashTag }}" data-url="{{ .ctx.RepoLink }}/comments/{{ .item.ID }}/delete" data-locale="{{ .ctx.i18n.Tr "repo.issues.delete_comment_confirm" }}">{{ .ctx.i18n.Tr "repo.issues.context.delete" }}</div>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
  {{Asset "js/repo-issue-view_content-context_menu.js"}}
{{ end }}
