{{ template "base/head" . }}
<!--  user settings account -->
<div class="main-container">
  <div class="mx-auto w-full max-w-[1280px] space-y-4">
    <div class="grid grid-cols-10 gap-8">
      {{ template "user/settings/navbar" . }}
      <div class="col-span-10 md:col-span-8">
        {{ template "base/alert" . }}
        <h4 class="text-xl font-bold">
          {{ .i18n.Tr "settings.change_password" }}
        </h4>
        <div class="divider my-2"></div>
        {{ if or (.SignedUser.IsLocal) (.SignedUser.IsOAuth2) }}
          <form class="ignore-dirty mt-2" action="{{ .Link }}" method="post">
            {{ template "base/disable_form_autofill" }}
            {{ .CsrfTokenHtml }}
            {{ if .SignedUser.IsPasswordSet }}
              <div class="required {{ if .Err_OldPassword }}error{{ end }} form-control">
                <label class="label"><span class="label-text">{{ .i18n.Tr "settings.old_password" }}</span></label>
                <input class="input-bordered input" id="old_password" name="old_password" type="password" autocomplete="current-password" autofocus required />
              </div>
            {{ end }}
            <div class="required {{ if .Err_Password }}error{{ end }} form-control">
              <label class="label"><span class="label-text">{{ .i18n.Tr "settings.new_password" }}</span></label>
              <input class="input-bordered input" id="password" name="password" type="password" autocomplete="new-password" required />
            </div>
            <div class="required {{ if .Err_Password }}error{{ end }} form-control">
              <label class="label"><span class="label-text">{{ .i18n.Tr "settings.retype_new_password" }}</span></label>
              <input class="input-bordered input" id="retype" name="retype" type="password" autocomplete="new-password" required />
            </div>

            <div class="mt-2 flex items-center gap-2">
              <button class="btn-primary btn">{{ $.i18n.Tr "settings.update_password" }}</button>
              <a class="btn-outline-primary btn-outline btn" href="{{ AppSubUrl }}/user/forgot_password?email={{ .Email }}">{{ .i18n.Tr "auth.forgot_password" }}</a>
            </div>
          </form>
        {{ else }}
          <div svelte-simple-alert data-type="info" data-icon="true" data-desc="{{ $.i18n.Tr "settings.password_change_disabled" }}"></div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ template "base/footer" . }}
