{{ template "base/head" . }}
<!-- user settings applications -->
<div class="main-container">
  <div class="mx-auto w-full max-w-[1280px] space-y-4">
    <div class="grid grid-cols-10 gap-8">
      {{ template "user/settings/navbar" . }}
      <div class="col-span-10 md:col-span-8">
        {{ template "base/alert" . }}
        <h4 class="text-xl font-bold">
          {{ .i18n.Tr "settings.manage_access_token" }}
        </h4>
        <div class="divider my-2"></div>
        <div class="space-y-2">
          <p>{{ .i18n.Tr "settings.tokens_desc" }}</p>
          <div class="divide-y">
            {{ range .Tokens }}
              <div class="flex items-center justify-between py-2">
                <div class="flex items-center gap-2">
                  <i class="{{ if .HasRecentActivity }}text-green-600{{ end }} tooltip" {{ if .HasRecentActivity }}data-tip="{{ $.i18n.Tr "settings.token_state_desc" }}"{{ end }}>{{ svg "fa-paper-plane-solid" 32 "!w-8 !h-8" }}</i>
                  <div class="flex flex-col gap-1">
                    <strong>{{ .Name }}</strong>
                    <i class="flex items-center gap-1 text-gray-500">{{ $.i18n.Tr "settings.add_on" }} <span>{{ .CreatedUnix.FormatShort }}</span> — {{ svg "octicon-info" }} {{ if .HasUsed }}{{ $.i18n.Tr "settings.last_used" }} <span {{ if .HasRecentActivity }}class="green"{{ end }}>{{ .UpdatedUnix.FormatShort }}</span>{{ else }}{{ $.i18n.Tr "settings.no_activity" }}{{ end }}</i>
                  </div>
                </div>

                <button svelte-simple-modal class="btn-red btn-xs btn" data-modal-id="delete-token" data-href="{{ $.Link }}/delete" data-title="{{ $.i18n.Tr "settings.access_token_deletion" }}" data-desc="{{ $.i18n.Tr "settings.access_token_deletion_desc" }}" data-form-key[0]="id" data-form-val[0]="{{ .ID }}" data-action-negative-text="{{ $.i18n.Tr "settings.access_token_deletion_cancel_action" }}" data-action-approve-text="{{ $.i18n.Tr "settings.access_token_deletion_confirm_action" }}">
                  {{ svg "octicon-trash" 16 "mr-1" }}
                  {{ $.i18n.Tr "settings.delete_token" }}
                </button>
              </div>
            {{ end }}
          </div>
        </div>
        <div>
          <h5 class="mt-2 text-base font-bold">
            {{ .i18n.Tr "settings.generate_new_token" }}
          </h5>
          <div class="divider my-2"></div>
          <p>{{ .i18n.Tr "settings.new_token_desc" }}</p>
          <form class="ignore-dirty space-y-2" action="{{ .Link }}" method="post">
            {{ .CsrfTokenHtml }}
            <div class="{{ if .Err_Name }}error{{ end }} form-control">
              <label class="label"><span class="label-text">{{ .i18n.Tr "settings.token_name" }}</span></label>
              <input class="input-bordered input" id="name" name="name" value="{{ .name }}" autofocus required />
            </div>
            <button class="btn-primary btn">{{ .i18n.Tr "settings.generate_token" }}</button>
          </form>
        </div>

        {{ if .EnableOAuth2 }}
          {{ template "user/settings/grants_oauth2" . }}
          {{ template "user/settings/applications_oauth2" . }}
        {{ end }}
      </div>
    </div>
  </div>
</div>

{{ template "base/footer" . }}
