<h4 class="mt-10 flex items-center justify-between text-xl font-bold">
  {{ .i18n.Tr "settings.manage_gpg_keys" }}
  <div class="text-sm">
    <div jq-show-panel class="btn-primary btn-sm btn" data-panel="#add-gpg-key-panel">{{ .i18n.Tr "settings.add_key" }}</div>
  </div>
</h4>
<div class="divider my-2"></div>
<div class="">
  <div class="{{ if not .HasGPGError }}hidden{{ end }} mb-4" id="add-gpg-key-panel">
    <form class="{{ if .HasGPGError }}error{{ end }}" action="{{ .Link }}" method="post">
      {{ .CsrfTokenHtml }}
      <input type="hidden" name="title" value="none" />
      <div class="{{ if .Err_Content }}error{{ end }} form-control">
        <label class="label"><span class="label-text">{{ .i18n.Tr "settings.key_content" }}</span></label>
        <textarea class="textarea-bordered textarea leading-none" rows="5" id="gpg-key-content" name="content" placeholder="{{ .i18n.Tr "settings.key_content_gpg_placeholder" }}" required>{{ .content }}</textarea>
      </div>
      {{ if .Err_Signature }}
        <div svelte-simple-alert data-desc="{{ .i18n.Tr "settings.gpg_token_required" }}" data-type="error" data-icon="true" data-extra-class="mt-4"></div>
        <div class="form-control">
          <label class="label"><span class="label-text">{{ .i18n.Tr "setting.gpg_token" }}</span></label>
          <input class="input-bordered input" readonly="" value="{{ .TokenToSign }}" />
          <div class="help">
            <p>{{ .i18n.Tr "settings.gpg_token_help" }}</p>
            <p><code>{{ $.i18n.Tr "settings.gpg_token_code" .TokenToSign .KeyID }}</code></p>
          </div>
        </div>
        <div class="form-control">
          <label class="label"><span class="label-text">{{ .i18n.Tr "settings.gpg_token_signature" }}</span></label>
          <textarea class="textarea-bordered textarea leading-none" rows="5" id="gpg-key-signature" name="signature" placeholder="{{ .i18n.Tr "settings.key_signature_gpg_placeholder" }}" required>{{ .signature }}</textarea>
        </div>
      {{ end }}
      <input name="type" type="hidden" value="gpg" />
      <div class="form-control mt-2 flex-row items-center gap-2">
        <button class="btn-primary btn">
          {{ .i18n.Tr "settings.add_key" }}
        </button>
        <button jq-hide-panel type="button" class="btn" data-panel="#add-gpg-key-panel">
          {{ .i18n.Tr "cancel" }}
        </button>
      </div>
    </form>
  </div>
  <div>
    <p>
      {{ .i18n.Tr "settings.gpg_desc" }}
    </p>
    <div class="divide-y">
      {{ range .GPGKeys }}
        <div class="flex items-center justify-between py-2">
          <div class="flex items-center gap-2">
            <span class="{{ if or .ExpiredUnix.IsZero ($.PageStartTime.Before .ExpiredUnix.AsTime) }}text-green-600{{ end }}">{{ svg "octicon-key" 32 "!w-8 !h-8" }}</span>
            <div class="flex flex-col gap-1">
              {{ if .Verified }}
                <span class="tooltip flex items-center gap-1" data-tip="{{ $.i18n.Tr "settings.gpg_key_verified_long" }}">{{ svg "octicon-shield-check" }} <strong>{{ $.i18n.Tr "settings.gpg_key_verified" }}</strong></span>
              {{ end }}
              {{ if gt (len .Emails) 0 }}
                <span class="tooltip flex items-center gap-1" data-tip="{{ $.i18n.Tr "settings.gpg_key_matched_identities_long" }}">{{ svg "octicon-mail" }} {{ $.i18n.Tr "settings.gpg_key_matched_identities" }} {{ range .Emails }}<strong>{{ .Email }} </strong>{{ end }}</span>
              {{ end }}
              <div class="text-gray-500">
                <b>{{ $.i18n.Tr "settings.key_id" }}:</b> {{ .KeyID }} <b>{{ $.i18n.Tr "settings.subkeys" }}:</b> {{ range .SubsKey }}{{ .KeyID }}{{ end }}
              </div>
              <div class="text-gray-500">
                <i>{{ $.i18n.Tr "settings.add_on" }} <span>{{ .AddedUnix.FormatShort }}</span></i>
                -
                <i>{{ if not .ExpiredUnix.IsZero }}{{ $.i18n.Tr "settings.valid_until" }} <span>{{ .ExpiredUnix.FormatShort }}</span>{{ else }}{{ $.i18n.Tr "settings.valid_forever" }}{{ end }}</i>
              </div>
            </div>
          </div>

          <div class="flex items-center gap-2">
            <button svelte-simple-modal class="btn-red btn-xs btn" data-modal-id="delete-gpg" data-href="{{ $.Link }}/delete?type=gpg" data-form-key[0]="id" data-form-val[0]="{{ .ID }}" data-title="{{ $.i18n.Tr "settings.gpg_key_deletion" }}" data-desc="{{ $.i18n.Tr "settings.gpg_key_deletion_desc" }}">
              {{ $.i18n.Tr "settings.delete_key" }}
            </button>
            {{ if and (not .Verified) (ne $.VerifyingID .KeyID) }}
              <a class="btn-primary btn-xs btn" href="{{ $.Link }}?verify_gpg={{ .KeyID }}">{{ $.i18n.Tr "settings.gpg_key_verify" }}</a>
            {{ end }}
          </div>
        </div>
        {{ if and (not .Verified) (eq $.VerifyingID .KeyID) }}
          <div class="py-4">
            <h4 class="text-base font-bold">{{ $.i18n.Tr "settings.gpg_token_required" }}</h4>
            <form class="{{ if $.HasGPGVerifyError }}error{{ end }}" action="{{ $.Link }}" method="post">
              {{ $.CsrfTokenHtml }}
              <input type="hidden" name="title" value="none" />
              <input type="hidden" name="content" value="{{ .KeyID }}" />
              <input type="hidden" name="key_id" value="{{ .KeyID }}" />
              <div class="form-control">
                <label class="label"><span class="label-text">{{ $.i18n.Tr "settings.gpg_token" }}</span></label>
                <input class="input-bordered input" readonly="" value="{{ $.TokenToSign }}" />
                <div class="help">
                  <p>{{ $.i18n.Tr "settings.gpg_token_help" }}</p>
                  <p><code>{{ $.i18n.Tr "settings.gpg_token_code" $.TokenToSign .KeyID }}</code></p>
                </div>
                <br />
              </div>
              <div class="form-control">
                <label class="label"><span class="label-text">{{ $.i18n.Tr "settings.gpg_token_signature" }}</span></label>
                <textarea class="textarea-bordered textarea leading-none" rows="5" id="gpg-key-signature" name="signature" placeholder="{{ $.i18n.Tr "settings.key_signature_gpg_placeholder" }}" required>{{ $.signature }}</textarea>
              </div>
              <input name="type" type="hidden" value="verify_gpg" />
              <div class="form-control mt-2 flex-row items-center gap-2">
                <button class="btn-primary btn">
                  {{ $.i18n.Tr "settings.gpg_key_verify" }}
                </button>
                <a class="btn" href="{{ $.Link }}">
                  {{ $.i18n.Tr "settings.cancel" }}
                </a>
              </div>
            </form>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>

<p class="cu-links-primary-gradient">{{ .i18n.Tr "settings.gpg_helper" "https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/about-commit-signature-verification#gpg-commit-signature-verification" | Str2html }}</p>
