{{ template "base/head" . }}
{{ template "repo/header" . }}
<!--  repository settings lfs -->
<div jq-repo-settings-lfs_file class="main-container">
  <div class="mx-auto w-full max-w-[1280px] space-y-4">
    <div class="grid grid-cols-10 gap-8">
      {{ template "repo/settings/navbar" . }}
      <!-- ui repository file list container -->
      <div class="col-span-10 md:col-span-8">
        {{ template "base/alert" . }}
        <div class="tab-size-8 non-diff-file-content">
          <h4 class="flex items-center justify-between text-xl font-bold">
            <div class="flex flex-1 items-center"><a href="{{ .LFSFilesLink }}">{{ .i18n.Tr "repo.settings.lfs" }}</a> / <span class="sha truncate">{{ .LFSFile.Oid }}</span></div>

            <div class="flex items-center gap-2">
              {{ if .EscapeStatus.Escaped }}
                <a class="unescape-button btn-xs btn hidden">{{ .i18n.Tr "repo.unescape_control_characters" }}</a>
                <a class="escape-button btn-xs btn">{{ .i18n.Tr "repo.escape_control_characters" }}</a>
              {{ end }}
              <a class="btn-primary btn-sm btn" href="{{ .LFSFilesLink }}/find?oid={{ .LFSFile.Oid }}&size={{ .LFSFile.Size }}">{{ $.i18n.Tr "repo.settings.lfs_findcommits" }}</a>
            </div>
          </h4>
          <!-- ui attached unstackable segment table -->
          <div class="w-full">
            {{ template "repo/unicode_escape_prompt" dict "EscapeStatus" .EscapeStatus "root" $ }}
            <div class="file-view{{ if .IsMarkup }}markup {{ .MarkupType }}{{ else if .IsRenderedHTML }}plain-text{{ else if .IsTextFile }}code-view{{ end }}">
              {{ if .IsMarkup }}
                {{ if .FileContent }}{{ .FileContent | Safe }}{{ end }}
              {{ else if .IsRenderedHTML }}
                <pre>{{ if .FileContent }}{{ .FileContent | Str2html }}{{ end }}</pre>
              {{ else if not .IsTextFile }}
                <div class="view-raw flex items-center justify-center">
                  {{ if .IsImageFile }}
                    <img src="{{ $.RawFileLink }}" />
                  {{ else if .IsVideoFile }}
                    <video controls src="{{ $.RawFileLink }}">
                      <strong>{{ .i18n.Tr "repo.video_not_supported_in_browser" }}</strong>
                    </video>
                  {{ else if .IsAudioFile }}
                    <audio controls src="{{ $.RawFileLink }}">
                      <strong>{{ .i18n.Tr "repo.audio_not_supported_in_browser" }}</strong>
                    </audio>
                  {{ else if .IsPDFFile }}
                    <iframe width="100%" height="600px" src="{{ AppSubUrl }}/vendor/plugins/pdfjs/web/viewer.html?file={{ $.RawFileLink }}"></iframe>
                  {{ else }}
                    <a href="{{ $.RawFileLink }}" rel="nofollow" class="btn-xs btn">{{ .i18n.Tr "repo.file_view_raw" }}</a>
                  {{ end }}
                </div>
              {{ else if .FileSize }}
                <table>
                  <tbody>
                    <tr>
                      {{ if .IsFileTooLarge }}
                        <td><strong>{{ .i18n.Tr "repo.file_too_large" }}</strong></td>
                      {{ else }}
                        <td class="lines-num">{{ .LineNums }}</td>
                        <td class="lines-code">
                          <pre><code class="{{ .HighlightClass }}"><ol class="linenums">{{ .FileContent }}</ol></code></pre>
                        </td>
                      {{ end }}
                    </tr>
                  </tbody>
                </table>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ Asset "js/repo-settings-lfs_file.js" }}
</div>
{{ template "base/footer" . }}
