.code-view .lines-num:hover {
  /* color: var(--color-text-dark) !important; */
}

.code-line-menu {
  /* width: auto !important; */
  @apply !w-auto !border !border-base-content/10 !bg-base-200 !p-0 !text-base-content;
}
.code-line-menu.ui.popup::before {
  @apply !bg-base-200 !shadow-mako-800;
}

.code-line-button {
  /* background-color: var(--color-menu);
  color: var(--color-text-light);
  border: 1px solid var(--color-secondary);
  border-radius: var(--border-radius);
  padding: 1px 10px;
  position: absolute;
  font-family: var(--fonts-regular);
  left: 0;
  transform: translateX(-70%);
  cursor: pointer; */

  @apply absolute -left-8 cursor-pointer bg-base-100 px-3 py-1 !text-base-content;
}

.code-line-button:hover {
  /* color: var(--color-primary); */

  @apply text-primary;
}
