{{ if $.LatestCommitStatus }}
  {{ if not $.Issue.PullRequest.HasMerged }}
    <h5 class="flex items-center rounded-tl-lg rounded-tr-lg bg-base-200 p-4">
      {{ if eq .LatestCommitStatus.State "pending" }}
        {{ $.i18n.Tr "repo.pulls.status_checking" }}
      {{ else if eq .LatestCommitStatus.State "success" }}
        {{ $.i18n.Tr "repo.pulls.status_checks_success" }}
      {{ else if eq .LatestCommitStatus.State "warning" }}
        {{ $.i18n.Tr "repo.pulls.status_checks_warning" }}
      {{ else if eq .LatestCommitStatus.State "failure" }}
        {{ $.i18n.Tr "repo.pulls.status_checks_failure" }}
      {{ else if eq .LatestCommitStatus.State "error" }}
        {{ $.i18n.Tr "repo.pulls.status_checks_error" }}
      {{ else }}
        {{ $.i18n.Tr "repo.pulls.status_checking" }}
      {{ end }}
    </h5>
  {{ end }}

  {{ range $.LatestCommitStatuses }}
    <div class="flex items-center border-t p-4">
      <div class="flex flex-1 items-center gap-x-1">
        <span>{{ template "repo/commit_status" . }}</span>
        {{ .Context }} <span class="text-gray-500">{{ .Description }}</span>
      </div>
      <div class="flex items-center gap-x-1">
        {{ if $.is_context_required }}
          {{ if (call $.is_context_required .Context) }}<div class="badge">{{ $.i18n.Tr "repo.pulls.status_checks_requested" }}</div>{{ end }}
        {{ end }}
        {{ if .TargetURL }}<a class="link-hover !link-primary link" href="{{ .TargetURL }}">{{ $.i18n.Tr "repo.pulls.status_checks_details" }}</a>{{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}
