<div class="tabs">
  <a class="{{ if .PageIsPullConversation }}tab-active{{ end }} tab-lifted tab gap-x-1" href="{{ .Issue.Link }}">
    {{ svg "octicon-comment-discussion" }}
    {{ $.i18n.Tr "repo.pulls.tab_conversation" }}
    <span class="{{ if not .Issue.NumComments }}badge-gray{{ else }}badge-primary{{ end }} badge badge-sm">{{ .Issue.NumComments }}</span>
  </a>
  <a class="{{ if .PageIsPullCommits }}tab-active{{ end }} tab-lifted tab gap-x-1" {{ if .NumCommits }}href="{{ .Issue.Link }}/commits"{{ end }}>
    {{ svg "octicon-git-commit" }}
    {{ $.i18n.Tr "repo.pulls.tab_commits" }}
    <span class="{{ if not .NumCommits }}badge-gray{{ else }}badge-primary{{ end }} badge badge-sm"> {{ if .NumCommits }}{{ .NumCommits }}{{ else }}N/A{{ end }} </span>
  </a>
  <a class="{{ if .PageIsPullFiles }}tab-active{{ end }} tab-lifted tab gap-x-1" {{ if .NumFiles }}href="{{ .Issue.Link }}/files"{{ end }}>
    {{ svg "octicon-diff" }}
    {{ $.i18n.Tr "repo.pulls.tab_files" }}
    <span class="{{ if not .NumFiles }}badge-gray{{ else }}badge-primary{{ end }} badge badge-sm">{{ if .NumFiles }}{{ .NumFiles }}{{ else }}N/A{{ end }}</span>
  </a>
</div>
