{{ template "base/head" . }}
<!--  organization teams -->
<div class="main-container">
  <div class="mx-auto w-full max-w-[1280px] space-y-4">
    {{ template "org/header" . }}
    <div class="">
      {{ template "base/alert" . }}
      {{ if .IsOrganizationOwner }}
        <a class="btn-primary btn" href="{{ .OrgLink }}/teams/new">{{ svg "octicon-plus" }} {{ .i18n.Tr "org.create_new_team" }}</a>
        <div class="divider my-2"></div>
      {{ end }}
      <div class="grid grid-cols-2 gap-4">
        {{ range .Teams }}
          <div class="col-span-1 h-fit divide-y rounded-lg border">
            <div class="flex items-center justify-between rounded-t-lg bg-base-200 px-4 py-2 font-bold">
              <a class="link-hover link hover:link-primary" href="{{ $.OrgLink }}/teams/{{ .LowerName | PathEscape }}"><strong>{{ .Name }}</strong></a>
              {{ if .IsMember $.SignedUser.ID }}
                <button svelte-simple-modal class="btn-red btn-xs btn" data-title="{{ $.i18n.Tr "org.teams.leave" }}" data-title-svg-name="octicon-x" data-desc="{{ $.i18n.Tr "org.teams.leave.detail" .Name | Safe }}" data-href="{{ $.OrgLink }}/teams/{{ .LowerName | PathEscape }}/action/leave" data-form-key[0]="uid" data-form-val[0]="{{ $.SignedUser.ID }}" data-modal-id="leave-team">{{ $.i18n.Tr "org.teams.leave" }}</button>
              {{ else if $.IsOrganizationOwner }}
                <form method="post" action="{{ $.OrgLink }}/teams/{{ .LowerName | PathEscape }}/action/join">
                  {{ $.CsrfTokenHtml }}
                  <button type="submit" class="btn-primary btn-xs btn" name="uid" value="{{ $.SignedUser.ID }}">{{ $.i18n.Tr "org.teams.join" }}</button>
                </form>
              {{ end }}
            </div>
            <div class="flex flex-wrap items-center gap-1 px-4 py-2">
              {{ range .Members }}
                <a class="avatar" href="{{ .HomeLink }}" title="{{ .Name }}">
                  <span class="h-8 w-8 rounded-full">
                    {{ avatar . }}
                  </span>
                </a>
              {{ end }}
            </div>
            <div class="rounded-b-lg bg-base-200 px-4 py-2">
              {{ .NumMembers }} {{ $.i18n.Tr "org.lower_members" }} ·
              {{ .NumRepos }}
              {{ $.i18n.Tr "org.lower_repositories" }}
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ template "base/footer" . }}
