<ul class="cu-bordered-menu p-4">
  <li>
    <div class="divider-y"></div>
    <a class="flex items-center justify-between" href="{{ .Link }}?type=your_repositories&sort={{ $.SortType }}&state={{ .State }}&q={{ $.Keyword }}">
      {{ .i18n.Tr "home.issues.in_your_repos" }}
      <strong class="badge">{{ .Total }}</strong>
    </a>
  </li>
  <div class="divider my-2"></div>
  {{ range .Repos }}
    {{ with $Repo := . }}
      <li class="{{ range $.RepoIDs }}{{ if eq . $Repo.ID }}cu-bordered{{ end }}{{ end }}">
        <div class="divider-y"></div>
        <a
          class="{{ range $.RepoIDs }}{{ if eq . $Repo.ID }}active{{ end }}{{ end }} flex items-center justify-between"
          href="{{ $.Link }}?repos=[
              {{- with $include := true -}}
            {{- range $.RepoIDs -}}
              {{- if eq . $Repo.ID -}}
                {{ $include = false }}
              {{- else -}}
                {{ . }}%2C
              {{- end -}}
            {{- end -}}
            {{- if eq $include true -}}
              {{ $Repo.ID }}%2C
            {{- end -}}
          {{- end -}}
              ]&sort={{ $.SortType }}&state={{ $.State }}&q={{ $.Keyword }}"
          title="{{ .FullName }}"
        >
          <span class="truncate">{{ $Repo.FullName }}</span>
          <div class="{{ if $.IsShowClosed }}badge-red{{ end }} badge">{{ index $.Counts $Repo.ID }}</div>
        </a>
      </li>
    {{ end }}
  {{ end }}
</ul>
