<div class="flex items-center justify-between gap-2">
  <form class="ignore-dirty flex flex-1">
    {{ if not ( or .PageIsExploreUsers .PageIsExploreOrganizations ) }}
      <div class="input-group">
        <input class="input-bordered input w-full" name="q" value="{{ .Keyword }}" placeholder="{{ .i18n.Tr "explore.search" }}..." autofocus />
        <button class="btn-primary btn">{{ .i18n.Tr "explore.search" }}</button>
      </div>
    {{ else if .Keyword }}
      <h3 class="cu-links-primary">
        {{ .i18n.Tr "explore.code_search_results" (.Keyword|Escape) | Str2html }}
      </h3>
    {{ end }}
  </form>
  <!-- Sort -->
  <div class="dropdown-end dropdown">
    <label tabindex="0" class="btn-normal btn-outline btn flex items-center gap-1">
      <span>{{ .i18n.Tr "repo.issues.filter_sort" }}</span>
      <span> by: </span>
      <span>{{ .SortType }}</span>
      {{ svg "octicon-triangle-down" }}
    </label>
    <ul class="dropdown-content menu p-2">
      <li>
        <a class="{{ if eq .SortType "newest" }}active{{ end }}" href="{{ $.Link }}?sort=newest&q={{ $.Keyword }}">{{ .i18n.Tr "repo.issues.filter_sort.latest" }}</a>
      </li>
      <li>
        <a class="{{ if eq .SortType "oldest" }}active{{ end }}" href="{{ $.Link }}?sort=oldest&q={{ $.Keyword }}">{{ .i18n.Tr "repo.issues.filter_sort.oldest" }}</a>
      </li>
      <li>
        <a class="{{ if eq .SortType "alphabetically" }}active{{ end }}" href="{{ $.Link }}?sort=alphabetically&q={{ $.Keyword }}">{{ .i18n.Tr "repo.issues.label.filter_sort.alphabetically" }}</a>
      </li>
      <li>
        <a class="{{ if eq .SortType "reversealphabetically" }}active{{ end }}" href="{{ $.Link }}?sort=reversealphabetically&q={{ $.Keyword }}">{{ .i18n.Tr "repo.issues.label.filter_sort.reverse_alphabetically" }}</a>
      </li>
      <li>
        <a class="{{ if eq .SortType "recentupdate" }}active{{ end }}" href="{{ $.Link }}?sort=recentupdate&q={{ $.Keyword }}">{{ .i18n.Tr "repo.issues.filter_sort.recentupdate" }}</a>
      </li>
      <li>
        <a class="{{ if eq .SortType "leastupdate" }}active{{ end }}" href="{{ $.Link }}?sort=leastupdate&q={{ $.Keyword }}">{{ .i18n.Tr "repo.issues.filter_sort.leastupdate" }}</a>
      </li>
    </ul>
  </div>
</div>
<div class="divider my-2"></div>
